.container {
  min-height: 100vh;
  width: 100vh;
  margin: 0 auto;
}

.container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  padding: 2rem;
}

.container-main.is-on {
  border: 3px solid var(--work-color);
}

.container-main.is-off {
  border: 3px dashed var(--calm-color);
}

.container-title {
  padding-bottom: 2rem;
}

.title-clock {
  font-size: 3rem;
}

.container-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.btn {
  border: none;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  padding: 1rem 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  background-color: var(--work-color);
}

/* Bonus features */

.title-calendar {
  text-transform: capitalize;
}
